/build/
/external/foobar2000-sdk/
/native/.vs/
/native/x64/
/native/Debug/
/native/Release/
/native/**/*.obj
/native/**/*.tlog
/native/**/*.lastbuildstate
*.dll
*.pdb
*.fb2k-component
/.vs/
/out/
*.user
*.suo
*.zip
